
<%- include("partail/head")-%>
<div class="container">
    <div class="row">
        <!-- Side Bar layer 2-->
        <%- include("partail/sidebar")-%>
        <!-- Table layer 1-->
        <%- include("partail/table")-%>
    </div>
</div>

<%- include("partail/footer")-%>
