<div class="col col-xxl-4 col-lg-4 side-bar">
    <div class="bar-box">
        <form method="post">
            <label >Update ipa of Korea word</label>
            <input type="text" name="textWord" value="<%= itemUpate["word"] %>">
            <input type="text" name="textIpa" value="<%= itemUpate["ipa"] %>">
            <button submit="submit" id="update-btn">Update</button>
        </form>
    </div>
</div>